In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("../data.csv")
df

     fixed_acidity  residual_sugar  alcohol  density quality_label
0              9.3             6.4     13.6   1.0005          high
1             11.2             2.0     14.0   0.9912        medium
2             11.6             0.9      8.2   0.9935           low
3             12.9             6.6     12.7   1.0002           low
4             13.9            13.8     10.4   0.9942        medium
..             ...             ...      ...      ...           ...
995           13.0             4.3     13.1   1.0035           low
996            6.4             5.3      9.5   1.0040           low
997            4.5             9.0     13.8   0.9931        medium
998            5.3            12.2      8.1   0.9955           low
999            7.6            14.3     10.1   0.9924          high

[1000 rows x 5 columns]

In [4]:
print(f"Jumlah duplikasi : {df.duplicated().sum()}")
print(f"Jumlah missing value : {df.isnull().sum().sum()}")

Jumlah duplikasi : 0
Jumlah missing value : 0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fixed_acidity   1000 non-null   float64
 1   residual_sugar  1000 non-null   float64
 2   alcohol         1000 non-null   float64
 3   density         1000 non-null   float64
 4   quality_label   1000 non-null   object
dtypes: float64(4), object(1)
memory usage: 39.2+ KB

In [6]:
quality_map = {
    "low" : "0",
    "medium" : "1",
    "high" : "2"
}
df["quality_label"] = df["quality_label"].map(quality_map)
df["quality_label"] = df["quality_label"].astype(int)

In [7]:
df.head()

   fixed_acidity  residual_sugar  alcohol  density  quality_label
0            9.3             6.4     13.6   1.0005              2
1           11.2             2.0     14.0   0.9912              1
2           11.6             0.9      8.2   0.9935              0
3           12.9             6.6     12.7   1.0002              0
4           13.9            13.8     10.4   0.9942              1

In [8]:
### YOUR PREPROCESSING, ITS JUST EXAMPLE. IT MUST BE PROPROCESS ACTUALLY

In [9]:
df.to_csv("preprocess.csv")